.homeContainer {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#2c5e92 0%, #552f6d 80%);
    padding: 10rem 0;
    text-align: center;
    min-width: 40rem;
    overflow-x: hidden;
}
.titleWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.spotifyLogo {
    width: 10rem;
    height: 10rem;
}
.favoriteArtistTitle {
    display: inline-block;
    color: white;
    font-size: 3.8rem;
    margin-bottom: 3rem;
}

.favoriteArtistsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;

    @media screen and (min-width: $lg_breakpoint) {
        padding: 0 8rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        padding: 0 19rem;
    }
}

.artistCircle {
    margin: 2rem;
    flex-basis: 34%;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    @media screen and (min-width: $md_breakpoint) {
        flex-basis: 24%;
    }

    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
    }
    &:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
}
